airtest==1.2.10.2
elasticsearch==7.12.0
Flask==2.3.2
langchain==0.0.239
numpy==1.24.4
openai==0.27.6
opencv_contrib_python==4.6.0.66
opencv_python==4.7.0.72
paddlespeech==1.4.1
pandas==2.0.3
Pillow==9.5.0
Pillow==10.0.0
pvporcupine==2.2.1
PyAudio==0.2.13
pydantic==1.10.9
python-dotenv==1.0.0
pyttsx3==2.71
pywin32==306
Requests==2.31.0
scipy==1.11.1
selenium==4.10.0
steamship==2.17.13
tiktoken==0.3.3
transformers==4.30.2
translate==3.6.1
ultralytics==8.0.131
webrtcvad==2.0.10
wolframalpha==5.0.0
youtube_search==2.1.2
openai
redis
transformers
translate
opencv-python
selenium
youtube_search
airtest
langchain
wolframalpha
elasticsearch=7.12.0
steamship
pvporcupine
pyaudio
pyttsx3